<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3 horizontal="center" *ngIf="items?.length === 0 || items == null">
    No Items in the List!
  </h3>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items; let i = index">
      <ion-item>
        <ion-label
          ><h2>{{item.name}}</h2>
          <p>{{item.section}}</p>
          <p>{{item.quantity}}</p></ion-label
        >
      </ion-item>
      <ion-item-options>
        <ion-button
          ion-button
          color="primary"
          type="button"
          (click)="editItem(item, i)"
        >
          <ion-icon name="create"></ion-icon>
          Edit
        </ion-button>

        <ion-button
          ion-button
          type="button"
          color="light"
          (click)="shareItem(item, i)"
        >
          <ion-icon name="share"></ion-icon>
          Share
        </ion-button>

        <ion-button
          ion-button
          color="danger"
          type="button"
          (click)="deleteItem(item._id)"
        >
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button ion-fab (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
