<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 class="no-item" text-center *ngIf="items.length === 0">
    No Items in the List!
  </h3>

  <ion-list *ngIf="items.length > 0">
    <ion-item-sliding *ngFor="let item of items; let i = index">
      <ion-item>
        <h2>{{item.name}}</h2>
        <p>{{item.section}}</p>
        <p>{{item.quantity}}</p>
      </ion-item>
      <ion-item-options>
        <button
          ion-button
          color="primary"
          type="button"
          (click)="editItem(item, i)"
        >
          <ion-icon name="create"></ion-icon>
          Edit
        </button>

        <button
          ion-button
          type="button"
          color="light"
          (click)="shareItem(item, i)"
        >
          <ion-icon name="share"></ion-icon>
          Share
        </button>

        <button
          ion-button
          color="danger"
          type="button"
          (click)="deleteItem(item._id)"
        >
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab mini (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
